{% extends 'base.html' %}
{% load static %}
{% block title %}InBest - Hot Topic{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'survey/css/hot_topic.css' %}">

    <div class="hot-topic-container">
        <div class="hot-topic-box-wrapper">
            <!-- Left Boxes: Good News -->
            <div class="hot-topic-box">
                <h2 class="hot-topic-title good-news">금일 호재</h2>
                <p class="hot-topic-content">
                    {{ main_positive_news.title|truncatechars:50 }}
                </p>
            </div>

            <!-- Right Boxes: Bad News -->
            <div class="hot-topic-box">
                <h2 class="hot-topic-title bad-news">금일 악재</h2>
                <p class="hot-topic-content">
                    {{ main_negative_news.title|truncatechars:50 }}
                </p>
            </div>
        </div>

    <!-- Bottom Boxes: Articles -->
    <div class="hot-topic-articles">
        <!-- 기사 1 -->
        <div class="article-box">
            <a href="{{ positive_news.0.url }}" target="_blank">
                <h3>{{ positive_news.0.title|truncatechars:30 }}</h3>
                <p class="article-content">
                    {% if positive_news.0.content %}
                        {{ positive_news.0.content|truncatechars:100 }}
                    {% else %}
                        추가 호재 기사가 없습니다
                    {% endif %}
                </p>
            </a>
        </div>
        <div class="article-box">
            <a href="{{ negative_news.0.url }}" target="_blank">
                <h3>{{ negative_news.0.title|truncatechars:30 }}</h3>
                <p class="article-content">
                    {% if negative_news.0.content %}
                        {{ negative_news.0.content|truncatechars:100 }}
                    {% else %}
                        추가 악재 기사가 없습니다
                    {% endif %}
                </p>
            </a>
        </div>

        <!-- 기사 2 -->
        <div class="article-box">
            <a href="{{ positive_news.1.url }}" target="_blank">
                <h3>{{ positive_news.1.title|truncatechars:30 }}</h3>
                <p class="article-content">
                    {% if positive_news.1.content %}
                        {{ positive_news.1.content|truncatechars:100 }}
                    {% else %}
                        추가 호재 기사가 없습니다
                    {% endif %}
                </p>
            </a>
        </div>
        <div class="article-box">
            <a href="{{ negative_news.1.url }}" target="_blank">
                <h3>{{ negative_news.1.title|truncatechars:30 }}</h3>
                <p class="article-content">
                    {% if negative_news.1.content %}
                        {{ negative_news.1.content|truncatechars:100 }}
                    {% else %}
                        추가 악재 기사가 없습니다
                    {% endif %}
                </p>
            </a>
        </div>

        <!-- 기사 3 -->
        <div class="article-box">
            <a href="{{ positive_news.2.url }}" target="_blank">
                <h3>{{ positive_news.2.title|truncatechars:30 }}</h3>
                <p class="article-content">
                    {% if positive_news.2.content %}
                        {{ positive_news.2.content|truncatechars:100 }}
                    {% else %}
                        추가 호재 기사가 없습니다
                    {% endif %}
                </p>
            </a>
        </div>
        <div class="article-box">
            <a href="{{ negative_news.2.url }}" target="_blank">
                <h3>{{ negative_news.2.title|truncatechars:30 }}</h3>
                <p class="article-content">
                    {% if negative_news.2.content %}
                        {{ negative_news.2.content|truncatechars:100 }}
                    {% else %}
                        추가 악재 기사가 없습니다
                    {% endif %}
                </p>
            </a>
        </div>

        <!-- 기사 4 -->
        <div class="article-box">
            <a href="{{ positive_news.3.url }}" target="_blank">
                <h3>{{ positive_news.3.title|truncatechars:30 }}</h3>
                <p class="article-content">
                    {% if positive_news.3.content %}
                        {{ positive_news.3.content|truncatechars:100 }}
                    {% else %}
                        추가 호재 기사가 없습니다
                    {% endif %}
                </p>
            </a>
        </div>
        <div class="article-box">
            <a href="{{ negative_news.3.url }}" target="_blank">
                <h3>{{ negative_news.3.title|truncatechars:30 }}</h3>
                <p class="article-content">
                    {% if negative_news.3.content %}
                        {{ negative_news.3.content|truncatechars:100 }}
                    {% else %}
                        추가 악재 기사가 없습니다
                    {% endif %}
                </p>
            </a>
        </div>
    </div>

{% endblock %}